h1 {
  color: black;
}

#home-intro{
    text-align: center;

    border: 3px solid black;
    
}

#p2{
    color:blue;
}

#home-intro:hover{
    background-color: lightblue;
}

#nav{
    text-align: center;
    padding-top: 5px;
    background-color: lightgray;
    height: 25px;
    margin-bottom: 5px;
}

#nav a{
    margin: 0px 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black
    ;
}